@charset "UTF-8";

/*
*
* --- Kenny's English
*
*  ▼ Theme Color ▼
*  #E0780E -- Darker
*  #E0780E -- Lighter
*  
*  #E0780E -- Orange
*  #755B41 -- Brown
*
*
*/

* {
    box-sizing: border-box;
 }

 html {
  color: #000;
  background: #fff;
 }


 body {
    margin: 0;
    padding: 0;
    font-family: "Hiragino Kku";
    font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #f5f5f5;
 }

 #header {
  position: fixed;
  height: 100px;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  color: #fff;
  text-align: center;
  padding: 20px;
 }

/* Header Up & Down Movement */
#header.Upmove {
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-100px);
  }
}

#header.DownMove {
  animation: DownAnime 0.5s forwards;
}

@keyframes DownAnime {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ▼ Extra Styling for Header List */
nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
}

nav ul li a{
  display: block;
  text-decoration: none;
  color: #666;
  padding:10px;
  transition:all 0.3s;
}

nav ul li.current a,
nav ul li a:hover,
nav ul li a:active{
  color:#D300C5; 
}

 .hd-h1 {
   margin: 0; padding: 0;
   font-size: 20px;
 }

 a {
   text-decoration: none;
   color: #696969;
   /* background: linear-gradient(#FFD600, #FF7A00, #FF0069, #D300C5, #7638FA); */
 }

 .home-logo {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin:  0 auto 5%;
  background: linear-gradient(90deg, #FFD600 0%, #FF7A00 40%, #FF0069 80%, #D300C5, #7638FA);
  -webkit-background-clip: text;
  background-clip: none;
  -webkit-text-fill-color: transparent;
 }

 .lsn-btn {
  background: linear-gradient(#FFD600, #FF7A00, #FF0069, #D300C5, #7638FA);
  color: #fff;
  padding: 15px 25px;
  border-radius: 6px;
 }

nav {
   margin: 0 0 0 auto;
}

 ul {
   list-style: none;
   margin: 0;
   display: block;
 }

 li {
   margin: 0 0 0 15px;
   font-size: 14px;
 }


/* ▼ Main Page */
main {
  padding-top: 70px;
}

section {
  padding: 30px;
}


/* ▼ Page One */
.pg-1 {
  height: 800px;
  background-image: url("../../content/img/widesite.jpg");
  background-position: center;
  background-size: cover;
}

.pg1-top-text {
  text-align: center;
  line-height: 20px;
  margin-top: 50px;
  margin-right: 300px;
}

.pg1-h1 {
  color: #fff;
  letter-spacing: 10px;
}

.pg1-h2 {
  font-size: 40px;
  color: #fff;
  letter-spacing: 10px;
}

.pg1-2 {
  height: 600px;
}

.pg1-2-h1 {
  text-align: center;
  font-size: 30px;
  color: #E0780E;
}

.pg1-2text {
  text-align: center;
}

.pg1-2loop {
  margin : 0 auto 40px;
  width : 100%;
  font-size : 40px;
  text-align : center;
  overflow : hidden;
  }
  .pg1-2loop ul {
  margin:0;
  display : inline-block;
  padding-left: 100%;
  white-space : nowrap;
  line-height : 1em;
  animation : scrollpg1-2loop 15s linear infinite;
  }
  .pg1-2loop ul li {
  display:inline;
  margin:0 100px 0 0;
  }
  .spg1-2loop ul li:nth-child(1) {
  font-weight:bold;
  }
  .pg1-2loop ul li:nth-child(2) {
  color:#F00;
  }
  .spg1-2loop ul li:nth-child(3) {
  font-style:italic;
  }
  .pg1-2loop ul li:last-child {
  color:#F90;
  margin:0;
  }
  @keyframes scrollpg1-2loop {
  0% { transform: translateX(0)}
  100% { transform: translateX(-100%)}
  }

/* ▼ Page Two */
.pg-2 {
  height: 1000px;
}

.pg2-subtext {
  text-align: center;
}

.pg2-points {
  text-align: center;
}

.pg2-bottom-box {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.pg2-bottom-sub {
  flex: 1;
  height: 400px;
  text-align: center;
  margin: 10px;
  border-radius: 5px;
  background-color: #fff;
  border: double 5px #E0780E;
}

.pg2-box-p1 {
  width: 40%;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #fff;
  background-color: #E0780E;
}

/* ▼ Page Three */
.pg-3 {
  height: 1000px;
  background-color: #755B41;
}

.pg3-h1 {
  text-align: center;
  font-size: 30px;
  color: #fff;
}

.pg3-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pg3-up-sub {
  margin: 20px;
}

.pg3-up-h3 {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  background-color: #E0780E;
}

.pg3-down-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pg3-down-sub {
  margin: 20px;
}

.pg3-down-h3 {
  display: inline-block;
  margin-top: 10px;
  padding: 10px;
  background-color: #E0780E;
}


/* ▼ Page Four */
.pg-4 {
  height: 1100px;
}

.pg4-h1 {
  text-align: center;
  font-size: 30px;
  color: #E0780E;
}

.pg4-top-box {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.pg4-top-sub {
  flex: 1;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #E0780E;
}

.pg4-bottom-box {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.pg4-bottom-sub {
  flex: 1;
  height: 400px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: #fff;
  border: double 5px #E0780E;
}

.pg4-bottom-sub p {
  text-align: left;
}

.pg-4 h3 {
  padding-top: 20px;
  text-align: center;
}


/* ▼ Page Five */
.pg-5 {
  height: 700px;
  background-color: #E0780E;
}

.pg5-h1 {
  text-align: center;
  font-size: 30px;
}

.pg5-h2 {
  font-size: 60px;
  color: #E0780E;
}

.pg5-box {
  width: 1000px;
  display: block; /* Changed to block for natural stacking of paragraphs */
  background-color: #fff;
  color: #E0780E;
  text-align: center;
  border-radius: 5px;
  border: double 5px #E0780E;
  margin: auto;
  padding: 1px; /* Add padding to give some space around the content */
}

.pg5-top-box {
  line-height: 1px;
}

.pg5-mid-box {
  display: block;
  width: 900px;
  border-bottom: 2px solid #E0780E;
  padding-top: 20px;
  margin: auto;
}

.pg5-bottom-box {
  width: 950px;
  margin: auto;
  padding: 20px;
}

.pg5-bottom-box ul {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  padding: 20px;
}

.pg5-bottom-box li {
  position: relative;
  font-size: 20px;
}

.pg5-bottom-box li::after {
  content: '';
  display: block;
  position: absolute;
  top: .5em;
  left: -1.5em;
  width: 10px;
  height: 5px;
  border-left: 2px solid #E0780E;
  border-bottom: 2px solid #E0780E;
  transform: rotate(-45deg);
}

.pg5-top-list {
  border-bottom: 20px;
}


/* ▼ Page Six */
.pg-6 {
  height: 900px;
}

.pg6-h1 {
  text-align: center;
  font-size: 30px;
  color: #E0780E;
}

.pg6-container {
  display: flex;

}

.pg6-img {
  width: 100%;
  text-align: right;
  margin-right: 100px;
}

.pg6-intro {
  width: 100%;
  margin-right: 80px;
}

/* ▼ Free Lesson */
.free-lesson {
  height: 550px;
  background-color: #E0780E;
}

.pgFL-h2 {
  font-size: 40px;
  color: #E0780E;
}

.pgFL-box {
  height: 350px;
  width: 1100px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  color: #E0780E;
  text-align: center;
  border-radius: 30px;
  border: single 5px #E0780E;
  margin: auto;
  margin-top: 70px;
  padding: 1px; /* Add padding to give some space around the content */
}

.pgFL-top-box {
  width: 50%;
  margin-top: 30px;
}


.pgFL-bottom-box {
  width: 45%;
  margin-top: 90px;
}

.pgFL-bottom-box p {
  font-size: 25px;
  font-weight: bold;
}





/* ▼ Page Seven */

.pg-7 {
  height: 1000px;
}

form {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  width: 100%;
  margin: auto;
}

.pg7-h2 {
  text-align: center;
  color: #ff6363; 
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 15px 0 5px;
  font-weight: bold;
  color: #555;
}

input, select, textarea {
  max-width: 500px;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
}

textarea {
  resize: vertical;
}

.submit-btn {
  background-color: #ff6363;
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 100%;
  display: inline-block;
}

.submit-btn:hover {
  background-color: #ff4747;
}


/* ▼  Footer */

.ft-logo {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin:  0 auto 5%;
  background: linear-gradient(90deg, #FFD600 0%, #FF7A00 40%, #FF0069 80%, #D300C5, #7638FA);
  -webkit-background-clip: text;
  background-clip: none;
  -webkit-text-fill-color: transparent;
}

hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #e5e7eb;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.footer {
  padding: 2rem;
  font-size: 15px;
  color: #4b5564;
  background: #fff;
}

.footer {
  padding: 2rem;
  font-size: 15px;
  color: #4b5564;
  background: #fff;
}

.footer__navi-heading {
  font-weight: 600;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 2rem;
}

.footer__navi li {
  margin-bottom: 0.75rem;
}

.footer__social a {
  display: inline-block;
  width: 24px;
  opacity: 0.7;
}

.footer__social a:not(:last-child) {
  margin-right: 16px;
}

@media (min-width: 768px) {
  .md-flex {
    display: flex;
  }

  .md-justify-between {
    justify-content: space-between;
  }

  .grid {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}





